body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  background-color: lightslategrey;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lightsteelblue;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.right-button-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: 15px;
}

.left-button-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: auto;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.current-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-user {
  font-size: 25px;
  margin-right: 10px;
}

.current-user-name {
  color: blue;
  font-size: 28px;
  text-decoration: none;
}

.current-user-name:active {
  color: darkslategrey;
}

.top-buttons {
  color: blue;
  text-decoration: none;
  font-size: 25px;
  align-self: flex-start;
}

.top-buttons:active {
  color: darkslategrey;
}

#events {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.event-list-container {
  flex-grow: 1;
  display: block;
  margin: 1%;
  max-width: 600px;
  min-height: 750px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(146, 143, 143);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.list-category {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 10px;
}

.event-container {
  height: 750px;
  border-style: dotted;
  border-right: transparent;
  border-bottom: transparent;
  border-color: black;
  overflow: scroll;
  scroll-behavior: smooth;
}

.user-event {
  padding: 10px;
  background-color: lightcyan;
  outline: solid 1px black;
}

.user-event:hover {
  background-color: white;
}

.event-link {
  color: blue;
  text-decoration: none;
  font-size: 25px;
}

.event-text {
  font-size: 25px;
}

/* events#show */

.main-event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-event-container {
  flex-grow: 1;
  margin: 1%;
  max-width: 600px;
  min-height: 750px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(146, 143, 143);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

#event-go-back-container {
  display: flex;
  flex-direction: column;
}

.attendee-list {
  height: 500px;
  border-style: dotted;
  border-right: transparent;
  border-bottom: transparent;
  border-color: black;
  overflow: scroll;
  scroll-behavior: smooth;
}

.attendee {
  display: block;
  margin: 5px;
  padding-left: 6px;
  font-size: 25px;
  background-color: lightcyan;
}

.attendee:hover {
  background-color: white;
}

.user-name {
  font-family: sans-serif;
  font-size: 28px;
}

.invite-form-container {
  font-size: 20px;
}

.attend-button-container {
  display: flex;
  justify-content: center;
}

.attend-button {
  margin: 10px;
  text-align: center;
  font-size: 22px;
  width: 150px;
  height: 50px;
}

.go-back {
  align-self: center;
}
